/* ----------------------
  Google Montserrat  Font
-------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');



/* ----------------------
  Common CSS/ Utilities CSS
-------------------------*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #737373;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.wrap {
  overflow: hidden;
}
h1{
  font-size: 58px;
}
h2{
  font-size: 40px;
  font-weight: bold;
}
h3 {
  font-size: 32px;
}
h4{
  font-size: 16px;
}
h5{
  font-size: 14px;
  font-weight: bold;
}
a{
  text-decoration: none;
  font-weight: bold;
}
li {
  list-style: none;
}
.container{
  width: 1050px;
  padding: 20px 0;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
}
.common-title {
  margin-bottom: 112px;
}
.common-title h5 {
  color: #23A6F0;
  font-weight: bold;
}
.common-title h3{
  color: #252B42;
  font-weight: bold;
}
.section-padding-112{
  padding: 112px 0;
}
.section-padding-160{
  padding-bottom: 160px;
}



/* ----------------------
  Header Area CSS
-------------------------*/
.header {
  background-image: url(../images/banner/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 140px;
}
.header .main-menu ul,
.header .registration ul{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.header .main-menu ul li {
  margin-right: 21px;
  line-height: 1.8;
}
.header .main-menu ul li a {
  display: inline-block;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  font-weight: bold;
}
.header .main-menu ul li:first-child a{
  margin-right: 41px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1px;
}
.header .registration ul li{
  margin-left: 45px;
}
.header .registration ul li a {
  display: inline-block;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  font-weight: bold;
}
.header .registration ul li a.join-us{
  padding: 15px 25px;
  background: #23A6F0;
  border-radius: 5px;
  color: #fff;
  transition: background .75s ease;
}
.header .registration ul li a.join-us:hover {
  background:#FFFFFF;
  color: #23A6F0;
}
.header .registration ul li a.join-us i {
  margin-left: 15px;
  transition: color .75s ease;
  color: #fff;
}
.header .registration ul li a.join-us:hover i {
  color: #23A6F0;
}


/* ---- Banner Area ---- */
.banner {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}
.banner-content {
  padding: 40px;
}
.banner h5 {
  color: #23A6F0;
}
.banner h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: 0.2px;
  font-weight: bold;
  color: #fff;
}
.banner p{
  margin-bottom: 40px;
  color: #FFFFFF;
}
.banner .join-us {
  padding: 15px 40px;
  border-radius: 5px;
  background: #23A6F0;
  color: #fff;
  font-weight: bold;
  transition: background-color .75s ease-in;
}
.banner .join-us:hover {
  background-color: #fff;
  color: #23A6F0;
}




/* ----------------------
  Practice Area CSS
-------------------------*/
.practices {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}
.practice-item {
  padding: 35px 40px;
  box-shadow: 0px 13px 19px rgba(3, 2, 2, 0.2);
  background: #FFFFFF;
  border-radius: 15px;
  transition: background .75s ease-in;
  cursor: pointer;
}
.practice-item:hover{
  background: #23A6F0;
}
.practice-item:hover a i {
  background: #FFFFFF;
}

.practice-item a i {
  padding: 22px 19px;
  background: #23A6F0;
  border-radius: 10px;
  font-size: 32px;
  color: #FFFFFF;
  transition: background .75s ease-in;
}
.practice-item:hover a i{
  color: #23A6F0;
  transition: .75s;
}
.practice-item h5 {
  margin-top: 18px;
  position: relative;
  margin-bottom: 35px;
  color: #252B42;
  transition: color .75s ease;
}
.practice-item h5::after{
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background: #E74040;
  left: 0;
  top: calc(100% + 20px);
}
.practice-item:hover h5{
  color: #fff;
}
.practice-item:hover p{
  color: #fff;
  transition: 0.75s ease;
}


/* ----------------------
  Client Matter Area CSS
-------------------------*/
.client-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 60px;
}
.client-img {
  position: relative;
}
.shadow-img {
  position: absolute;
  top: 17px;
  left: 24px;
  z-index: -1;
}
.grap-img {
  position: absolute;
  top: 138px;
  left: -60px;
}
.single-img {
  position: absolute;
  right: 90px;
  top: 80px;
}
.client-content {
  padding: 23px 0;
}
.client-content h2 {
  color: #252B42;
  margin-bottom: 35px;
  margin-top: 35px;
  position: relative;
}
.client-content h2::after{
  content: "";
  position: absolute;
  width: 94px;
  height: 7px;
  background: #E74040;
  left: 0;
  bottom: calc(100% + 50px);
}
.client-content a {
  display: inline-block;
  color: #23A6F0;
  margin-top: 50px;
}



/* ----------------------
  Client Matter Area CSS
-------------------------*/
.attorneys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}
.attorney-item .attorney-thumbnail {
  position: relative;
}
.attorney-item .attorney-thumbnail  img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.attorney-item .on-sale p{
  position: absolute;
  padding: 5px 10px;
  background-color: #E74040;
  color: #fff;
  border-radius: 5px;
  top: 20px;
  left: 30px;
}
.attorney-item .sale-card{
  position: absolute;
  top: 85%;
  transform: translateY(-75%);
  left: 0;
  right: 0;
}
.attorney-item .sale-card ul{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.attorney-item .sale-card ul li{
  margin: 0 5px;
}
.attorney-item .sale-card ul li a i {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: #FFFFFF;
  line-height: 2.4;
  font-size: 20px;
  color: #252B42;
  transition: 1s ease;
}
.attorney-item .sale-card ul li a:hover i{
  background-color: #23A6F0;
  color: #fff;
}
.attorney-content {
  padding: 35px 25px;
  box-shadow: 0px 13px 19px rgb(3 2 2 / 20%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: background-color .75s ease;
}

.attorney-content .ratting{
  display: flex;
  justify-content: space-between;
}
.attorney-content .ratting p{
  background-color: #252B42;
  padding: 5px;
  border-radius: 40px;
  color: #FFFFFF;
}
.attorney-content .ratting p i {
  margin-left: 5px;
  color: #FFCE31;
  font-size: 15px;
}
.attorney-content h5 {
  color: #23A6F0;
}
.attorney-content h4 {
  color: #252B42;
  margin-top: 10px;
  margin-bottom: 10px;
}
.attorney-content .sales {
  color: #737373;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 0.2px;
  font-weight: bold;
}
.attorney-content .sales i {
  margin-right: 10px;
}
.attorney-content .sale-price {
  color: #BDBDBD;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}
.attorney-content .price {
  color: #40BB15;
  font-size: 16px;
  font-weight: bold;
}
.attorney-content .learn-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #23A6F0;
  color: #23A6F0;
  transition: color .75s ease, background .75s ease;
}
.attorney-content:hover .learn-btn{
  background: #23A6F0;
  color: #FFFFFF;
}
.attorney-content .learn-btn i {
  color: #23A6F0;
  margin-left: 10px;
  transition: coloro .75 ease;
}
.attorney-content .learn-btn i{
  color: #FFFFFF;
}



/* ----------------------
  Testimonial Area CSS
-------------------------*/
.testimonial-client {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}
.testimonial-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 55px;
  box-shadow: 0px 13px 19px rgb(3 2 2 / 20%);
  border-radius: 20px;
  transition: background-color 1s ease;
}
.testimonial-detail:hover {
  background-color: #23A6F0;
  color: #FFFFFF;
}
.testimonial p{
  margin-top: 30px;
  margin-bottom: 15px;
}
.testimonial-detail:hover p{
  color: #fff;
}
.testimonial .testimonial-ratting ul {
  display: flex;
  align-items: center;
}
.testimonial .testimonial-ratting ul li i {
  color: #F3CD03;
  margin: 0 3px;
}

.testimonial .testimonial-ratting ul li i.unfill {
  color: #737373;
}
.testimonial .testimonial-detail h4 {
  margin-top: 15px;
  color: #252B42;
  margin-bottom: 5px;
}
.testimonial-detail:hover h5 {
  color: #FFFFFF;
}


/* ----------------------
  Team Area CSS
-------------------------*/
.teams {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}
.single-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 13px 19px rgb(3 2 2 / 20%);
  border-radius: 20px;
}
.single-member .member-img img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.member-details {
  padding-bottom: 30px;
  text-align: center;
}
.single-member h4 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #252B42;
}
.member-social ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  margin-top: 10px;
}
.member-social ul li {
  margin: 0 10px;
}
.member-social ul li a i {
  font-size: 30px;
  color: #23A6F0;
}



/* ----------------------
  Newsletter Area CSS
-------------------------*/
.newsletter-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter-in .common-title {
  text-align: center;
  margin-bottom: 60px;
}
.newsletter-in input {
  border: 3px solid #E5E5E5;
  height: 53px;
  border-radius: 10px;
  width: 400px;
  padding-left: 20px;
}
.newsletter-in input:focus{
  outline: none;
}
.newsletter-in .subscribe {
  padding: 17px 20px;
  cursor: pointer;
  background: #23A6F0;
  border: 1px solid #23A6F0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #FFFFFF;
  letter-spacing: 0.2px;
  position: relative;
  left: -9px;
}


/* ----------------------
  Footer Area CSS
-------------------------*/
.footer-in {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 30px;
  padding-bottom: 50px;
}
.footer-menu h4{
  color: #252B42;
  margin-bottom: 20px;
}
.footer-menu ul li{
  margin-bottom: 10px;
}
.footer-menu ul li a{
  font-weight: bold;
}
.footer-menu ul li a .social-icon {
  font-size: 16px;
  font-weight: bold;
  color: #23A6F0;
}
.copyright-footer{
  background-color: #FAFAFA;
  padding: 25px 0;
}
.copyright-footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-social ul {
  display: flex;
}
.footer-social ul li{
  margin-left: 20px;
}
.footer-social ul li a i {
  font-size: 24px;
  color: #23A6F0;
}