/* ----------------------
  Google Montserrat  Font
-------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');



/* ----------------------
  Common CSS/ Utilities CSS
-------------------------*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #737373;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.wrap {
  overflow: hidden;
}
h1{
  font-size: 58px;
}
h2{
  font-size: 40px;
}
h3 {
  font-size: 32px;
}
h4{
  font-size: 16px;
}
h5{
  font-size: 14px;
  font-weight: bold;
}
a{
  text-decoration: none;
}
li {
  list-style: none;
}
.container{
  width: 1050px;
  padding: 20px 0;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
}
.common-title {
  margin-bottom: 112px;
}
.common-title h5 {
  color: #23A6F0;
  font-weight: bold;
}
.common-title h3{
  color: #252B42;
  font-weight: bold;
}
.section-padding-112{
  padding: 112px 0;
}
.section-padding-160{
  padding: 160px 0;
}




/* ----------------------
  Header Area CSS
-------------------------*/
.header {
  background-image: url(../images/banner/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.header .main-menu ul,
.header .registration ul{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.header .main-menu ul li {
  margin-right: 21px;
  line-height: 1.8;
}
.header .main-menu ul li a {
  display: inline-block;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  font-weight: bold;
}
.header .main-menu ul li:first-child a{
  margin-right: 41px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1px;
}
.header .registration ul li{
  margin-left: 45px;
}
.header .registration ul li a {
  display: inline-block;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  font-weight: bold;
}
.header .registration ul li a.join-us{
  padding: 15px 25px;
  background: #23A6F0;
  border-radius: 5px;
}
.header .registration ul li a.join-us i {
  margin-left: 15px;
}


/* ---- Banner Area ---- */
.banner {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}
.banner-content {
  padding: 40px;
}
.banner h5 {
  color: #23A6F0;
}
.banner h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: 0.2px;
  font-weight: bold;
  color: #fff;
}
.banner p{
  margin-bottom: 40px;
  color: #FFFFFF;
}
.banner .join-us {
  padding: 15px 40px;
  border-radius: 5px;
  background: #23A6F0;
  color: #fff;
  font-weight: bold;
}





/* ----------------------
  Practice Area CSS
-------------------------*/
.practices {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}
.practice-item {
  padding: 35px 40px;
  box-shadow: 0px 13px 19px rgba(3, 2, 2, 0.2);
  background: #FFFFFF;
  border-radius: 15px;
  transition: background 1s ease-in;
}
.practice-item:hover{
  background: #23A6F0;
}
.practice-item:hover a i {
  background: #FFFFFF;
}

.practice-item a i {
  padding: 22px 19px;
  background: #B3E3FF;
  border-radius: 10px;
  font-size: 32px;
  color: #23A6F0;
  transition: background 1s ease-in;
}
.practice-item h5 {
  margin-top: 18px;
  position: relative;
  margin-bottom: 35px;
  color: #252B42;
}
.practice-item h5::after{
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background: #E74040;
  left: 0;
  top: calc(100% + 20px);
}